<div class="adding withClearFix">
  <ng-content></ng-content>
  <div class="panel withClearFix">
      <div>
        <i class="fa fa-shopping-cart left withClearFix withMarginTop withMarginLeft" (click)="addToCart($event)"></i>
        <h5 *ngIf="productInStock === false">not in stock</h5>
          <!--<i class="fa fa-cart-arrow-down left withClearFix withMarginTop withMarginLeft" (click)="addToCart($event)"></i>-->
          <i class="fa fa-times right withClearFix withMarginTop withMarginRight" (click)="removeFromCart($event)"></i>
      </div>
      <ng-template #othercontent>
          <h5>not in stock</h5>
      </ng-template>
  </div>
  <div class="bottomPanel">
      <div class="withSmalMargin">
            <i class="fa fa-cart-arrow-down withMarginTop"></i>
            <i class="withMarginTop">=</i>
            <i class="withMarginTop">{{productAmount}}</i>
      </div>
  </div>
</div>
