<div class="root">
    <div class="container withBorder withPadding w700px">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="form-group marginBottom">
              <label>Email</label>
              <input type="email" placeholder="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #emailRef="ngModel" class="form-control" name="email" ngModel>
              <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="paddingSmall alert alert-danger">
                  <div [hidden]="!emailRef.errors.required" class="paddingSmall fontSizeSmall">
                      please enter an email address
                  </div>
                  <div [hidden]="!emailRef.errors.pattern" class="paddingSmall fontSizeSmall">
                      invalid email
                  </div>
              </div>
            </div>
            <div class="form-group marginBottom">
                <label>Subject</label>
                <input type="text" placeholder="subject" required #subjectRef="ngModel" class="form-control" name="subject" ngModel>
                <div *ngIf="subjectRef.errors && (subjectRef.dirty || subjectRef.touched)" class="paddingSmall alert alert-danger">
                    <div [hidden]="!subjectRef.errors.required" class="paddingSmall fontSizeSmall">
                        please enter a subject
                    </div>
                </div>
            </div>
            <div class="form-group marginBottom">
                <label>Message</label>
                <textarea autoGrow class="form-control text-comment large" placeholder="message" 
                        name="message" ngModel ></textarea>
            </div>
            <div class="form-group">
                <button [disabled] = "!loginForm.form.valid" (sendResultIsReady)="onSendDialogResult($event)"  sendClickListener type="submit" class="btn btn-primary">Send</button>
            </div>
          </form>
    </div>
</div>
