body{
    margin: 0px;
    position:relative;
    background-color: rgb(10, 241, 106);
}

.canvas{
    border: 1px solid black;
    background-color: rgb(10, 241, 106);
    position: absolute;
    left: 0;
}

.manage-console{
    width: 50%;
    height: 600px;
    /*background-color: black;
    border: 1px solid red;*/
    position: absolute;
    left: 610px;
}

.cmdInput
{
    width: 99.5%;
    height: 30px;
    background-color: black;
    border: 1px solid red;
    color:green;
}

.result
{
    background-color: black;
    color:green;
    list-style:none;
    padding-left:0;
    margin-top: 0;
    font-size: 12px;
}

.innerCanvas{
    border: 1px solid rgb(240, 9, 125);
    background-color: black;
    position: absolute;
    left: 0;
}