<div class="products colored">
        <div class="categories withPaddingLeftAndTop" *ngIf="detailsShouldBePresented === false">
                <ul>
                    <li *ngFor="let category of categories" (click) = "categorySelected(category)" [class.categoryPresenterSelected] = "category === selectedCategory">
                        {{category.title | uppercase }}
                    </li>
                </ul>
        </div>
            <div class="productItemsHolder colored" *ngIf="detailsShouldBePresented === false">
                <div class="withClearFix">
                    <div *ngFor="let product of products" (click)="productSelected(product)">
                        <app-cartaddingwrapper>
                            <app-product #productWrapperInterface [product] = "product"></app-product>
                        </app-cartaddingwrapper>
                    </div>
                </div>
            </div>
</div>